
<nav class="navbar navbar-light2 navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-text pull-left">
      <a href="../website/website-list.html" class="black">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>

    <div class="navbar-brand pull-left">
      <a class="thick grey nounderline" href="../widget/widget-list.html" >
        <b>Pages</b>
      </a>
    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a href="page-new.html" class="black">
        <span class="glyphicon glyphicon-plus "></span>
      </a>
    </div>

  </div>
</nav>



<div class="container-fluid">
  <ul class="list-group padding">
    <li class="list-group-item blue borderless">
      <a href="../widget/widget-list.html" >
        Blog Post
      </a>
      <a href="page-edit.html" class="pull-right">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </li>
    <li class="list-group-item blue borderless">
      <a href="../widget/widget-list.html" >
        Blogs
      </a>

      <a href="page-edit.html" class="pull-right">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </li>
    <li class="list-group-item blue borderless">
      <a href="../widget/widget-list.html" >
        Home
      </a>
      <a href="page-edit.html" class="pull-right">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </li>
    <li class="list-group-item blue borderless">
      <a href="../widget/widget-list.html" >
        About
      </a>
      <a href="page-edit.html" class="pull-right">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </li>
    <li class="list-group-item blue borderless">
      <a href="../widget/widget-list.html" >
        Contact us
      </a>      <a href="page-edit.html" class="pull-right">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
    </li>

  </ul>
</div>

<nav class="navbar navbar-light2 navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html" class="blue">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>

